<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/ico/favicon.png">

    <title>Demo Site - PersonalidAds</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/icomoon.css">
    <link href="static/css/animate-custom.css" rel="stylesheet">


    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    
    <script src="static/js/jquery.min.js"></script>
	<script type="text/javascript" src="static/js/modernizr.custom.js"></script>
	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script>
		$(document).ready(function(){
			var canvas = document.getElementById("canvas"),
		    ctx = canvas.getContext("2d");
		    canvas.height = 400;
		    canvas.width = 610;
			var background = new Image();
			background.src = "http://libremap.org/data/boundary/united_states/contig_us_utm_zone_14_600px.png";

			background.onload = function(){
			    ctx.drawImage(background,0,0); 
			  var centerX = canvas.width * {{scaleLon}};
		      var centerY = canvas.height * {{scaleLat}};
		      var radius = 5;

		      ctx.beginPath();
		      ctx.arc(centerX, centerY, radius, 0, 2 * Math.PI, false);
		      ctx.fillStyle = 'blue';
		      ctx.fill();
		      ctx.lineWidth = 1;
		      ctx.strokeStyle = '#000033';
		      ctx.stroke();  
			};
		});
		
	</script>
    <style>
    	#chart{
    		width: 50%;
    		height: auto;
    		margin-top: 30px;
    		float: left;
    	}
    	#notChart{
    		width: 50%;
    		margin-top: 100px;
    		float: left;
    		text-align: center;
    	}
    	#spiderWeb{
    		margin: 0px auto;
    	}
    </style>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="static/js/html5shiv.js"></script>
      <script src="static/js/respond.min.js"></script>
    <![endif]-->
  </head>
  	<body data-spy="scroll" data-offset="0" data-target="#navbar-main">
	  	<div id="navbar-main">
	      <!-- Fixed navbar -->
		    <div class="navbar navbar-inverse navbar-fixed-top">
		      <div class="container">
		        <div class="navbar-collapse collapse">
		          <ul class="nav navbar-nav">
		          	<li><h3 class="glyphicon glyphicon-headphones" style="font-size:30px; color:#3498db; margin-right: 30px; margin-top: 10px;"></h3></li>
		            <li><h3 class="smoothScroll" style="color: white">Demo Webpage - PersonalidAds</h3></li>
		          </ul>
		        </div><!--/.nav-collapse -->
		      </div>
		    </div>
	    </div>
	    <div id="chart"></div>
	    <div id="notChart">
	    	<div id="spiderWeb">
	    	</div>
	    	<canvas id="canvas">

	    	</canvas>
	    </div>
	    <script>
	    	var query = window.location.search.substring(1);
	    	var pair = query.split("=");
	    	var userName = pair[1];
	    	var sourceLocation = "/demoJSON?name=" + userName;
	   		var xhReq = new XMLHttpRequest();
			xhReq.open("GET", sourceLocation, false);
			xhReq.send(null);
			var banana = (JSON.parse(xhReq.responseText))
			var keeper = banana['data'];
			console.log(banana['values']);	
	    </script>
	    <script type="text/javascript" src="static/js/bubble.js"></script>
	    <script type="text/javascript" src="static/js/spiderWeb.js"></script>
	    <script>
	    	var d = [banana['values']];
	    	RadarChart.draw("#spiderWeb", d);
	    </script>
	    
	</body>
</html>
